<div class="title">
  <div class="panel">
    <h1>Passecure</h1>
  </div>
</div>
<ul class="large-block-grid-2">
  <li>
    <div class="panel">
      <h2>Check if your password is secure.</h2>
      <ul>
        <li><h3>Your password should:</h3></li>
        <li>
        - include a number, uppercase letter,
        lowercase letter, and special character
        </li>
        <li>- Not be one of the most commenly used commonly used</li>
        <li>- Not have numbers as the last two digits</li>
        <li>- Not have a capital letter as the first character</li>
      </ul>
      <h4>OR</h4>
      <ul>
        <li><h3>Your passphrase should:</h3></li>
        <li>- Be at least a 20 character long phrase of words</li>
        <li>- Have at least one uppercase and one lowercase letter</li>
      </ul>
      <p></p>
      <div class="small-10 small-centered columns">
        <h2>Generate Random Password:</h2>
        <div class="small-10 small-centered columns">
          <% if session[:generate].nil? %>
            <p></p>
          <% else %>
            <p id="generated">Your password: <%= session[:generate] %></p>
          <% end %>
        </div>
        <form action='/generate' method='POST'>
          <h6>Length of generated password</h6>
          <div class="small-2 small-centered columns">
            <select name="length" id="length">>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
            </select>
          </div>
          <p></p>
          <button type='submit' href="#" class="button round">Generate</button>
        </form>
      </div>
    </div>
  </li>
  <li>
    <ul class="large-block-grid-2">
    <div class="panel">
      <div class="row">
        <div class="small-8 small-centered columns">
          <h2>Password:</h2>
          <form action='/password' method='POST'>
            <input type='Text' name='password' size='' placeholder='Test your password here' >
            <button type='submit' href="#" class="button round">Check password</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="small-10 small-centered columns">
          <% if session[:check].nil? %>
            <br><br><br><br>
          <% else %>
            <li>Your password: <%= session[:check].password %></li>
            <li><%= session[:check].summary %></li>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="small-8 small-centered columns">
          <h2>Pass Phrase:</h2>
          <form action='/passphrase' method='POST'>
            <input type='Text' name='passphrase' size='' placeholder='Test your pass phrase here' >
            <button type='submit' href="#" class="button round">Check pass phrase</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="small-10 small-centered columns">
          <% if session[:check_phrase].nil? %>
            <br><br><br><br>
          <% else %>
            <li>Your passphrase: <%= session[:check_phrase].password %></li>
            <li><%= session[:check_phrase].summary %></li>
          <% end %>
        </div>
      </div>
    </ul>
  </li>
</ul>
  <div class="row">
    <div class="small-10 small-centered columns">
      <form action='/reset' method='POST'>
        <button type='submit' href="#" class="button round">Reset Cookies</button>
      </form>
    </div>
  </div>


